<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {{ title }} {% endblock %}</title>
  </head>
  <body>
    <header>
      {% block header %}
      <h1>Магазин</h1>
      {% endblock %}
    </header>
    {% block content %}
    <p>Шаблон не заполнен</p>
    {% endblock %} {% block menu %} {% endblock %}
    <footer>
      {% block footer %}
      <nav>
        <ul>
          <li><a href="/">Главная</a></li>
          <li><a href="about/">О нас</a></li>
        </ul>
      </nav>
      {% endblock %}
    </footer>
  </body>
</html>
