{% extends 'base.html' %}

{% block title %} Главная {% endblock %}

{% block content %}
<p>Это главная страница</p>
{% endblock %}

{% block menu %}
<nav class="menu">
  <ul>
    <li><a href="{% url 'last_products'%}?period=week">Товары за неделю</a></li>
    <li><a href="{% url 'last_products'%}?period=month">Товары за месяц</a></li>
    <li><a href="{% url 'last_products'%}?period=year">Товары за год</a></li>
  </ul>
</nav>

<p>Информация по товарам:</p>
<table>
  {% for product in products %}
    <p>{{ product.product_title }} - {{ product.product_price }}</p>
  {% endfor %}
</table>

{% endblock menu %}
